@font-face {
  font-family: 'SVN-Segoe-Print';
  src: url('../fonts/SVN-Segoe-Print.ttf');
}

@font-face {
  font-family: 'SVN-Segoe-Script';
  src: url('../fonts/SVN-Segoe-Script.ttf');
}

@font-face {
  font-family: 'SVN-Segoe-UI';
  src: url('../fonts/SVN-Segoe-UI.ttf');
}

@font-face {
  font-family: 'SVN-Segoe-UI-Bold';
  src: url('../fonts/SVN-Segoe-UI-Bold.ttf');
}

@font-face {
  font-family: 'SVN-Segoe-UI-Bold-Italic';
  src: url('../fonts/SVN-Segoe-UI-Bold-Italic.ttf');
}

@font-face {
  font-family: 'SVN-Segoe-UI-Condensed bold';
  src: url('~/assets/fonts/SVN-Segoe-UI-Condensed bold.ttf');
}

@font-face {
  font-family: 'SVN-Segoe-UI-Condensed';
  src: url('~/assets/fonts/SVN-Segoe-UI-Condensed.ttf');
}

@font-face {
  font-family: 'SVN-Segoe-UI-Italic';
  src: url('../fonts/SVN-Segoe-UI-Italic.ttf');
}

@font-face {
  font-family: 'SVN-Segoe-UI-Light';
  src: url('../fonts/SVN-Segoe-UI-Light.ttf');
}

@font-face {
  font-family: 'SVN-Segoe-UI-Light-Italic';
  src: url('../fonts/SVN-Segoe-UI-Light-Italic.ttf');
}

@font-face {
  font-family: 'SVN-Steady';
  src: url('../fonts/SVN-Steady.otf');
}

@font-face {
  font-family: 'UTM-Avo';
  src: url('../fonts/UTM-Avo.ttf');
}

@font-face {
  font-family: 'UTM-AvoBold';
  src: url('../fonts/UTM-AvoBold.ttf');
}

@font-face {
  font-family: 'UTM-AvoBold_Italic';
  src: url('../fonts/UTM-AvoBold_Italic.ttf');
}

@font-face {
  font-family: 'UTM-AvoItalic';
  src: url('../fonts/UTM-AvoItalic.ttf');
}


body {
  font-family: 'SVN-Segoe-UI';
  color: #3b2314;
  font-size: 14px;
  max-width: 1920px;
  margin: auto;
}

a {
  transition: all 0.3s;
  color: #3b2314;
}
a:hover {
  text-decoration: none;
  color: #f6921e;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: 0;
  padding: 0;
}
button:focus {
  outline: none!important;
}
input:focus {
  outline: none!important;
  border-color: #f6921e !important;
}

/* header */
.header {
  padding: 25px 40px;
}
.header .navbar-nav {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: inherit;
  flex-direction: inherit;
  max-width: 865px;
  margin: auto;
}
.header .navbar-nav li {
  float: left;
}
.header .navbar-nav li:first-child {
  margin-left: 55px;
}
.header .navbar-nav li + .nav-item {
  margin-left: 100px;
}
.header .navbar-nav li:nth-child(3) {
  margin-left: auto;
}
.header .navbar-expand-lg .navbar-nav .nav-link {
  font-size: 16px;
  font-family: 'SVN-Segoe-UI';
  text-transform: uppercase;
  color: #3b2314;
  padding: 10px 0;
}


.header .navbar {
  display: inherit !important;
  background: none !important;
  padding: 0;;
}
.header .navbar-expand-lg .navbar-nav .nav-link:hover, .header .navbar-expand-lg .navbar-nav .nav-link.active {
  color: #f6921e;
}
.header .navbar-collapse.show .nav-link.active {
  color: #fff;
}
.header .logo {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.header .row > div:last-child {
  display: flex;
  justify-content: flex-end;
}
.header .row > div:last-child form{
  display: flex;
  align-items: center;
}
.header .row > div:last-child button {
  order: -1;
  margin-right: 5px;
  cursor: pointer;
}
.header .row > div:last-child input {
  width: 190px;
  height: 34px;
  border: 1px solid #3b2314;
  border-radius: 20px;
  padding: 0 15px;
  font-size: 12px;
}

.hidden-sm-down img{
  width: 100px;
  margin-top: 15px;
}

.carousel-indicators li {
  width: 13px !important;
  height: 13px !important;
  margin: 0px 18px !important;
  background: #fff !important;
  transition: all 0.3s !important;
  border: 0px !important;
  border-radius: 10px !important;
  opacity: 1 !important;
}

.carousel-indicators li.active {
  background: #f6921e !important;
  outline: 0 !important;
  border: none !important;
  -moz-outline-style: none !important;
}

.carousel-indicators li:focus, .carousel-indicators li:active {
  outline: 0 !important;
  border: none !important;
  -moz-outline-style: none !important;
}

.slideshow .owl-theme .owl-dots .owl-dot span{
  width: 13px;
  height: 13px;
  margin: 0px 18px;
  background: #fff;
  transition: all 0.3s;
}
.slideshow .owl-theme .owl-dots .owl-dot.active span, 
.slideshow .owl-theme .owl-dots .owl-dot:hover span {
  background: #f6921e;
}

.slideshow .owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 80px;
}
.main-content {
  padding: 95px 100px;
}
.main-content .main-content-inner {
  display: flex;
  align-items: center;
}
.main-content .content-image {
  width: 50%;
}
.main-content .content-text {
  width: 50%;
  max-width: 600px;
  padding-left: 60px;
}
.main-content .content-text h3 {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  width: 70%;
  border-bottom: 1px solid #3b2314;
  padding-bottom: 30px;
  margin-bottom: 0;
  font-family: 'UTM-Avo';
}
.main-content .content-text p{
  padding: 35px 0;
  margin-bottom: 0;
  line-height: 24px;
  font-family: 'SVN-Segoe-UI-Light';
  font-size: 16px;
}
.main-content .content-text .text-below {
  font-family: 'SVN-Steady';
  font-size: 40px;
  padding: 30px 0 0 0;
  width: 60%;
  border-top: 1px solid #3b2314;
}
.footer {
  padding: 25px 100px;
  background: #3b2314;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-footer span {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  padding-left: 20px;
}
.ft-social li {
  padding: 0 30px;
  float: left;
}
.ft-phone a{
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  font-family: 'SVN-Segoe-UI-Light';
}
.ft-email a {
  font-size: 12px;
  color: #fff;
  display: flex;
  align-items: center;
}
.ft-email a span {
  padding-left: 5px;
}
/* css category page */
.category-content {
  display: flex;
}
.category-content .column-left {
  width: 25%;
  float: left;
  background: #f0eeed;
  padding: 60px 15px 0 60px;
}
.category-content .column-left ul li a {
  font-family: 'SVN-Segoe-UI-Light';
  font-size: 16px;
  color: #3b2314;
  display: flex;
  align-items: center;
  padding: 7px 0;
}
.category-content .column-left ul li a:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-image: url('../img/Menu-03.png');
  margin-right: 5px;
  float: left;
}
.category-content .column-left > ul > li:first-child > a:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-image: url('../img/Menu-02.png');
  margin-right: 5px;
  float: left;
}
.category-content .column-left ul li a:hover {
  color: #f6921e;
}
.category-content .column-left .nqt-submenu li {
  margin-left: 30px;
}
.category-content .column-right {
  width: 75%;
  float: left;
  padding: 60px 100px 60px 100px;
}
.category-content .column-right .cate-item {
  width: 50%;
  float: left;
  padding: 0 15px;
  margin-bottom: 60px;
}
.category-content .column-right .cate-item-inner {
  max-width: 480px;
}
.category-content .cate-item .cate-image {
  margin-bottom: 30px;
}
.category-content .cate-item .cate-text h3 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'UTM-Avo';
  display: inline-block;
  padding-bottom: 20px;
  border-bottom: 1px solid #3b2314;
  margin-bottom: 30px;
}
.category-content .cate-item .cate-text p {
  font-family: 'SVN-Segoe-UI-Light';
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}
.category-content .cate-item .cate-text a {
  font-size: 16px;
  font-family: 'SVN-Segoe-UI-Light-Italic';
  display: inline-block;
  margin-top: 30px;
}
.category-content .column-right .title-block {
  margin-bottom: 50px;
}
.category-content .column-right .title-block .image-and-title {
  display: flex;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 30px;
}
.category-content .column-right .title-block .image-and-title img {
  width: 50%;
}
.category-content .column-right .title-block .image-and-title .title {
  width: 50%;
  padding-left: 30px;
}
.category-content .column-right .title-block .image-and-title h1 {
  margin-bottom: 60px;
  font-size: 50px;
  font-family: 'UTM-Avo';
  display: inline-block;
  border-bottom: 1px solid #3b2314;;
  padding-bottom: 25px;
  text-transform: uppercase;
}
.category-content .column-right .content-block {
  text-align: center;
}
.category-content .column-right .content-block h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'UTM-Avo';
  margin-bottom: 15px;
}
.category-content .column-right .content-block p {
  font-size: 16px;
  line-height: 24px;
  font-family: 'SVN-Segoe-UI-Light';
  margin-bottom: 30px;
}
.category-content .column-right .content-block .tp-12 {
  width: 50%;
  padding: 0 15px;
  float: left;
}
.category-content .column-right .content-block .tp-3 {
  margin-top: 30px;
  padding: 0 15px;
}
.read-more {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 50px 0;
}
.read-more a {
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'SVN-Segoe-UI-Bold';
  border-radius: 20px;
  background: #f6921e;
}
.read-more a:hover {
  background: #3b2314;
  color: #fff;
}
@media (min-width: 992px) {
  .close, .bg-over-lay {
    display: none;
  }
  .header .navbar-expand-lg .navbar-nav .nav-link:after {
    display: none;
  }
  .header .navbar-expand-lg .navbar-collapse {
    display: inherit !important;
  }
}
@media (max-width: 1499px) {
  .header .navbar-nav li + .nav-item {
    margin-left: 55px;
  }
  .header .navbar-nav li:first-child {
    margin-left: 55px;
  }
  .header .navbar-nav {
    max-width: 650px;
  }
  .header .navbar-nav li:nth-child(3) {
    margin-left: auto;
  }
  .header .row > div:last-child input {
    width: 150px;
  }
}
@media (max-width: 1320px) {
  .ft-social li {
    padding: 0 15px;
  }
  .footer {
    padding: 25px 30px;
  }
}

@media (max-width: 1199px) {
  .navbar .collapsing {
    display: none;
  }
  .category-content .column-right .title-block .image-and-title h1 {
    font-size: 30px;
  }
  .category-content .column-right {
    padding: 60px;
  }
  .header {
    padding-top: 90px;
    position: relative;
  }
  .header .row > div {
    position: static;
  }
  .header .logo {
      top: 0;
  }
  .header .hd-lang {
    position: absolute;
    top: 25px;
  }
  .header .row > div:last-child form {
    position: absolute;
    top: 25px;
  }
  .header .navbar-nav {
    justify-content: center;
  }
  .header .navbar-nav li:nth-child(3) {
    margin-left: 55px;
  }
  .main-content .content-text h3 {
    font-size: 30px;
    padding-bottom: 15px;
  }
  .main-content .content-text p {
    font-size: 14px;
    padding: 15px 0;
  }
  .main-content .content-text .text-below {
    padding: 15px 0 0 0;
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  .bg-over-lay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(51,51,51,.7);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.3s cubic-bezier(.25,.46,.45,.94) 0s;
    -o-transition: opacity 0.3s cubic-bezier(.25,.46,.45,.94) 0s;
    transition: opacity 0.3s cubic-bezier(.25,.46,.45,.94) 0s;
  }
  .show-over-lay {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    -webkit-transition: opacity 0.3s cubic-bezier(.25,.46,.45,.94) 0s;
    -o-transition: opacity 0.3s cubic-bezier(.25,.46,.45,.94) 0s;
    transition: opacity 0.3s cubic-bezier(.25,.46,.45,.94) 0s;
  }
  .close {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
	float:left;
  }
  .category-content .column-right {
    width: 100%;
  }
  .category-content .column-left {
    display: none;
  }
  .footer {
    padding: 25px 30px 50px;
    position: relative;
  }
  .ft-social {
    position: absolute;
    left: 206px;
    top: 115px;
  }
  .banner {
    display: none;
  }
  .main-content .main-content-inner {
    display: inherit;
  }
  .main-content {
    padding: 70px 0 0 0;
  }
  .main-content.last {
    padding-bottom: 70px;
  }
  .main-content .content-image {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .main-content .content-text {
    text-align: center;
    padding: 0 15px;
    margin: auto;
    width: 100%;

  }
  .main-content .content-text p {
    padding: 25px 0;
  }
  .main-content .content-text h3, .main-content .content-text .text-below {
    margin: auto;
  }
  .slideshow .owl-theme .owl-nav.disabled+.owl-dots {
    bottom: 30px;
  }
  .navbar-light .navbar-toggler {
    border: 0;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    position: absolute;
    top: 32px;
    left: 130px;
  }
  .header .navbar {
    position: static;
  }
  .header .navbar-nav {
    display: inherit;
    margin-top: 50px;
  }
  .header .navbar-nav li {
    float: none;
    margin-left: 0 !important;
  }
  .header .collapse {
    position: fixed;
    top: 0;
    width: 230px;
    right: 0;
    background: #f6921e;
    z-index: 1000;
    height: 100vh;
  }
  .header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 15px;
    background: #f6921e;
    color: #fff;
    display: flex;
    align-items: center;
    transition: all 0.3s;

  }
  .header .navbar-expand-lg .navbar-nav .nav-link.dropdown-toggle:after {
    width: 20px;
    height: 11px;
    border: 0;
    content: '';
    background-image: url('../img/show-btn.png');
    display: block;
    position: absolute;
    right: 15px;
  }
  .header .navbar-expand-lg .navbar-nav .dropdown-menu {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
  }
  .header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
    padding: 10px 15px 10px 30px;
    background: #dd831b;
    color: #fff;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    font-size: 16px;
    font-family: 'SVN-Segoe-UI';
    text-transform: uppercase;
  }
   .header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:before {
    content: '';
    background-image: url('../img/square-empty.png');
    width: 15px;
    height: 15px;
    display: block;
    background-size: 100%;
    margin-right: 10px;
   }
   .header .navbar-expand-lg .navbar-nav .nav-item.show .nav-link:before {
    content: '';
    background-image: url('../img/square.png');
    width: 15px;
    height: 15px;
    display: block;
    background-size: 100%;
    margin-right: 10px;
   }
  .header .navbar-expand-lg .navbar-nav .nav-link:hover {
    background-color: #dd831b;
  }
  .header .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #fff;
  }
  .header .navbar-expand-lg .navbar-nav .nav-link:before {
    content: '';
    background-image: url('../img/square-empty.png');
    width: 15px;
    height: 15px;
    display: block;
    background-size: 100%;
    margin-right: 10px;
  }
}


@media (max-width: 767px) {
  .header {
    padding-top: 65px;
  }
  .hidden-sm-down {
    display: none;
  }
  .category-content .column-right .title-block .image-and-title {
    display: inherit;
  }
  .category-content .column-right .title-block .image-and-title img {
    width: 100%;
    margin-bottom: 50px;
  }
  .category-content .column-right .title-block .image-and-title h1 {
    margin-bottom: 0;
  }
  .category-content .column-right .title-block .image-and-title .title {
    width: 100%;
    text-align: center;
  }
  .category-content .cate-item .cate-text h3 {
    font-size: 24px;
  }
  .category-content .column-right {
    padding: 15px;
  }
  .footer {
    display: inherit;
  }
  .header .row > div:last-child, .header .row > div:first-child {
    display: none;
  }
  .header .logo {
    top: 16px;
    left: 30px;
    transform: translateX(0);
    max-width: 200px;
  }
  .navbar-light .navbar-toggler {
    left: auto;
    right: 30px;
  }
  .carousel-indicators li {
    margin: 0 5px !important;
    width: 10px !important;;
    height: 10px !important;;
  }
}
@media (max-width: 575px) {
  .category-content .column-right .cate-item {
    width: 100%;
  }
  .main-content {
    padding: 50px 0 0 0;
  }
  .main-content.last {
    padding-bottom: 50px;
  }
  .ft-social {
    position: static;
    padding-top: 30px;
    display: inline-block;
    width: 100%;
  }
  .ft-social li:first-child {
    padding-left: 0;
  }
  .ft-phone {
    padding: 15px 0;
  }
  .header .logo {
    left: 10px;
  }
}
@media (max-width: 480px) {
  .slideshow .owl-theme .owl-nav.disabled+.owl-dots {
    bottom: 10px;
  }
}
@media (min-width: 768px) {
  .hidden-md-up {
    display: none;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .ft-email {
    width: 50%;
    display: inline-block;
    padding-top: 30px;
  }
  .ft-phone {
    width: 50%;
    float: left;
    padding-top: 30px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .ft-phone {
    position: absolute;
    left: 500px;
    top: 64px;
  }
  .ft-email {
    position: absolute;
    left: 500px;
    top: 114px;
  }
}
@media (min-width: 1440px) {
  .category-content .column-left {
    width: 20%;
  }
  .category-content .column-right {
    width: 80%;
  }
  .category-content .column-right-inner {
    max-width: 1200px;
  }
}
